<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orçamentos</title>
    <link rel="icon" type="image/png"  href="/img/icone_logo3.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="header">
<div class="logo">
        <img src="/img/logo.png" alt="Autofix Logo"> 
        </div>
</div>

    <div class="content">
        <div class="title">
            <h1>Área do Cliente</h1>
        </div>
                
        <div class="icon" style="display: flex; align-items: center; gap: 10px;">
            <a href="/aprovar_entrada_cliente">
                <img src="/img/home.png" alt="Home" title="Home" style="width: 32px; height: 32px; object-fit: contain; margin-top: 2px;">
            </a>
            <a href="/meu_veiculo_cliente">
                <img src="/img/carroicon.png" alt="Meus Veículos" title="Meus Veículos" style="width: 24px; height: 24px; object-fit: contain;">
            </a>
            <img src="/img/perfilicon.png" alt="Perfil" id="profileIcon" style="width: 24px; height: 24px; object-fit: contain;" title="Perfil" >
            <a href="/index1" id="logoutIcon">
                <img src="/img/sair-preto.png" alt="Sair" title="Sair" style="width: 24px; height: 24px; object-fit: contain;">
            </a>
        </div>


        
        
    
    

        <div class="welcome">
            <h2>Bem Vindo,  <%=cliente.nome  %> </h2>
        </div>  
        
        <div class="menu">
            <a href="/aprovar_entrada_cliente" class="active">Aprovar Entrada</a>
            <a href="/aprovar_orcamento_cliente" class="active bold">Aprovar Orçamento</a>
        </div>
        

        <div class="cards">
            <% veiculos.forEach((veiculo) => { %>
            
                <div class="card mb-3" style="width: 18rem;">
                <div class="card-header" style="background-color: rgba(19, 129, 50, 1); color:#f8f8f8; text-align: center;">Orçamento em aberto</div>
                <div class="card-body">
                    <div class="approval-card">

                        <p class="card-text">Modelo: <%= veiculo.modelo %></p>
                        <p>Marca: <%= veiculo.marca %></p>
                        <p>Cor: <%= veiculo.cor %></p>
                        <p>Placa: <%= veiculo.placa %></p>
                        <p>Data de entrada: <%= new Date(veiculo.data_hora_entrada).toLocaleString('pt-BR', { 
                            day: '2-digit', 
                            month: '2-digit', 
                            year: 'numeric', 
                            hour: '2-digit', 
                            minute: '2-digit', 
                            hour12: false 
                        }).replace(',', ' -') %></p>
                        
                    </div>
                    <a href="/checklist_aprovar_orcamento/<%= veiculo.id_inspecao_manutencao %>">  <!-- Adicione o ID aqui -->
                    <button class="button-orcamento" class="button" href="" style="background-color: #f56d13; border-radius:5px; height:40px; border:none; color:#f8f8f8">Ver orçamento</button> 
                </a>
                </div> 
                <% }); %>
             </div>

             <% veiculosExpirado.forEach((veiculo) => { %>
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-header" style="background-color: rgba(149, 0, 0, 1); color:#f8f8f8; text-align: center;">Orçamento expirado</div>
                    <div class="card-body">
                        <div class="approval-card">
                            <p class="card-text">Modelo: <%= veiculo.modelo %></p>
                            <p>Marca: <%= veiculo.marca %></p>
                            <p>Cor: <%= veiculo.cor %></p>
                            <p>Placa: <%= veiculo.placa %></p>
                            <p>Data de entrada: <%= new Date(veiculo.data_hora_entrada).toLocaleString('pt-BR', { 
                                day: '2-digit', 
                                month: '2-digit', 
                                year: 'numeric', 
                                hour: '2-digit', 
                                minute: '2-digit', 
                                hour12: false 
                            }).replace(',', ' -') %></p>
                        </div>
                        <a href="/checklist_aprovar_entrada">
                            <button class="button-orcamento" style="background-color: rgba(19, 129, 50, 1); border-radius:5px; height:40px; border:none; color:#f8f8f8">Ver orçamento</button> 
                        </a>
                    </div> 
                </div>
            <% }); %>
                
        </div>
        </div>
        </div>


<!-- Modal de Perfil -->
<div id="profileModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('profileModal')">×</span>
        <img src="/img/user-icon.png" style="width:50px; height:50px; margin-left: 150px;">
        <h4 class="title-profile" style="text-align:center;">Perfil do Usuário</h4>
        <br>
        <p>Nome:  <%= cliente.nome %> </p>
        <p>Email:  <%= cliente.email %> </p>
        <br>
        <a href="/editar_perfil_cliente/<%= cliente.email %>">  <p><button class="edit-profile" type="button" >Editar </button></p> </a>
    </div>
</div>
       
<!-- Modal de Confirmação de Saída -->
<div id="logoutModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('logoutModal')">×</span>
        <h4 class="title-profile" style="text-align:center;">Confirmação de Saída</h4>
        <p style="text-align: center;">Você tem certeza que deseja sair?</p>
        <div style="display: flex; justify-content: center; gap: 10px; margin-top: 20px;">
            <button onclick="closeModal('logoutModal')" class="button-common button-reject">Cancelar</button>
            <a href="/index1" class="button-common button-accept">Sair</a>
        </div>
    </div>
</div>


    <script>
        // Obtém os elementos do DOM
        const modal = document.getElementById("profileModal");
        const profileIcon = document.getElementById("profileIcon");
        const closeModalSpan = document.getElementsByClassName("close")[0];

        // Quando o usuário clica na imagem de perfil, abre o modal
        profileIcon.onclick = function() {
            modal.style.display = "block";
        }

        // Quando o usuário clica no <span> (x), fecha o modal
        closeModalSpan.onclick = function() {
            modal.style.display = "none";
        }

        // Quando o usuário clica fora do modal, fecha o modal
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

         // Função para abrir o modal
function openModal(modalId) {
    const modal = document.getElementById(modalId);
    if (modal) {
        modal.style.display = "block";
    }
}

// Função para fechar o modal
function closeModal(modalId) {
    const modal = document.getElementById(modalId);
    if (modal) {
        modal.style.display = "none";
    }
}

// Abre o modal de logout ao clicar no ícone de sair
document.getElementById("logoutIcon").addEventListener("click", function (event) {
    event.preventDefault(); // Evita o redirecionamento imediato
    openModal('logoutModal'); // Abre o modal de logout
});
    </script>
</body>
<style>

#logoutModal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
}

#logoutModal .button-reject {
    background-color: rgb(108, 117, 125);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#logoutModal .button-accept {
    background-color: rgb(220, 53, 69);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#profileIcon{
            cursor: pointer;
        }
        body {
            font-family: 'Arvo', serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
            font-size: 16px;
        }
        .header {
            background-color: #505050;
            color: white;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logo {
            display: flex;
            margin: 0 auto;
        }
        .logo img {
            height: 60px;
        }
        .content {
            padding: 20px;
        }
        h1 {
            font-size: 16px;
        }
        .welcome {
            margin-bottom: 30px;
        }
        .welcome h2 {
            font-size: 20px;
            color: #505050;
        }
        .menu {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
        }
        .menu a {
            padding: 10px;
            text-decoration: none;
            color: #000;
            font-weight: bold;
            border-bottom: 2px solid transparent;
        }
        .menu a.active {
            margin: 0 auto;
            
        }
        .cards {
            display: flex;
            justify-content: left;
            margin-top: 5px;
            margin-left: 5px;
            gap: 10px;
        }
        .approval-card, .expired-card {
            transition: transform 0.3s ease;
            font-size: medium;
        }
        .icon {
            display: flex;           
            justify-content: flex-end; 
            gap: 10px;                 
            padding-right: 20px;       
        }
        
        .reject {
            background-color: red;
            border-radius: 5px;
            border: none;
        }
        .confirm {
            background-color: rgba(19, 129, 50, 1);
            border-radius: 5px;
            border: none;
        }
        .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px; 
    border-radius: 10px;
}

        .modal .title-profile {
            color: #7c0808;
        }
        .modal .title-profile {
    color: #7c0808;
}
      
        .card-button {
            background-color: rgba(19, 129, 50, 1);
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
            transition: transform 0.1s ease;
            margin-left: 50px;
        }
        .card-button:hover {
            transform: translateY(-5px);
        }
        .card .mb-3 {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
        .card {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
        }
        .button-orcamento   {
            background-color: rgba(19, 129, 50, 1);
            color: white;
            font-size: smaller;
            padding: 5px 15px;
            margin-left: 50px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
            transition: transform 0.1s ease;
         
        }
        .button-orcamento:hover {
            transform: translateY(-5px);
        }

        .logout-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.logout-btn:hover {
    transform: translateY(-5px);
}
 
.edit-profile {
    background-color: #0D6EFD; /* Nova cor */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.edit-profile:hover {
    background-color: #0b5ed7; /* Um tom ligeiramente mais escuro para o efeito hover */
}

@media (max-width: 414px) { /* Alvo para iPhone XR e dispositivos similares */
    .modal-content {
        width: 90%; /* Ajusta a largura do modal para caber melhor na tela */
    }
    .edit-profile {
        width: 100%; /* Garante que o botão ocupe toda a largura do modal */
        padding: 12px; /* Aumenta o padding para uma aparência melhor em telas menores */
    }
}


   .modal-content p {
    text-align: left; /* Alinha os parágrafos à esquerda */
    margin-left: 10px; /* Espaçamento à esquerda */
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 10px; /* Define o "X" no canto superior esquerdo */
    top: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


        .menu a.bold {
        font-weight: bold;
    }

    .menu a:not(.bold) {
        font-weight: normal;
    }
</style>