<!DOCTYPE html>
<html>
<head>
    <title>Funcionários</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
  
   /* Estilos gerais */
   body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ffffff;
        color: #333;
    }

            header {
    background-color: #860606;
    color: white;
    padding: 8px;
    /* Reduzido o padding do cabeçalho */
    text-align: center;
    position: relative;
            }

            header img {
    max-width: 200px;
    /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    /* Mantém a proporção da imagem */
    margin-left: 50px;
    /* arrumar a diferença de posicionamento da logo, por causa da barra de rolagem (caso precise) */
    margin: 0 auto;
    display: block;
}

        
    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        margin-top: 20px;
    }

    .search-bar .back-button {
        margin-right: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .search-bar .back-button img {
        width: 24px;
        height: 24px;
    }

    .search-bar .search-input-container {
        position: relative;
        width: 50%;
    }

    .search-bar input[type="text"] {
        width: 100%;
        padding: 10px 10px 10px 20px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
    }

    .search-bar .search-input-container img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .search-bar .new-client-button {
        margin-left: 20px;
    }

        .add-supplier, .button {
            padding: 10px 20px;
            background-color: #005b71;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 20px;
            transition: background-color 0.3s, transform 0.3s;
        }

        .add-supplier:hover, .button:hover {
            background-color: #22394c;
            transform: translateY(-2px);
        }

        .title {
        text-align: center;
        font-size: 24px;
        margin: 20px auto;
        color: #333;
        width: 80%;
        display: flex;
        justify-content: center;
    }

        .container {
            width: 80%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: relative;
        }



        .supplier-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .supplier-item {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #fff;
            position: relative;
        }

        .supplier-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .supplier-name {
            font-weight: bold;
            font-size: 1.2em;
        }

        .supplier-details {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .supplier-button {
            padding: 10px 20px;
            background-color: #22394c;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .supplier-button2 {
            padding: 10px 20px;
            background-color: #ac0909;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Container para os botões */
.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Espaço entre os botões */
    position: absolute;
    bottom: 20px; /* Alinhamento na parte inferior */
    right: 20px; /* Alinhamento à direita */
}

/* Estilo do botão de excluir */
.delete-client-button {
    background-color: #ac0909;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.delete-client-button:hover {
    background-color: rgb(121, 23, 33);
    transform: translateY(-2px);
}

/* Estilo do botão de editar */
.btn-editar {
    background-color: #fa772a;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    color: #ffffff;
}

.btn-editar:hover {
    background-color: #b15621;
    transform: translateY(-2px);
}


        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: auto;
            font-weight: normal;
        }

        /* Estilos do Modal */
        .modal-content {
        border-radius: 10px;
    }

    .modal-header {
        background-color: #005b71;
        color: white;
    }

    .modal-header button {
        color: white;
    }

    .modal-footer {
        border-top: none;
    }

    .modal-body input {
        margin-bottom: 10px;
    }

    .modal-body {
        background-color: #ffffff;
        border-radius: 10px;
    }

    .new-fornecedor-button, .button {
        padding: 10px 20px;
            background-color: #005b71; /* Cor atualizada */
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 20px; /* Espaço entre a barra de pesquisa e o botão */
        transition: background-color 0.3s, transform 0.3s;
    }

    .new-fornecedor-button:hover, .button:hover {
        background-color: #033441;
        transform: translateY(-2px);
    }
    </style>
</head>

<body>
    <header class="text-white py-2" style="background-color: #860606;">
       <a href="home_adm.html"><img src="../img/logo.png" alt="Logo Autofix" class="img-fluid" style="max-width: 200px; margin: 0 auto; display: block;"></a>
    </header>

    <div class="title">
        Fornecedor
    </div>

    <div class="search-bar">
        <button class="back-button">
            <a href="/home_adm">  <img src="/img/seta.png" alt="Voltar"></a>
        </button>
        <div class="search-input-container">
            <input type="text" id="searchInput" placeholder="Buscar funcionário">
            <img src="/img/lupa.png" alt="Pesquisar" id="searchButton">
        </div>
        <button class="new-client-button button" data-bs-toggle="modal" data-bs-target="#newClientModal">Novo Fornecedor</button>
    </div>

    <main class="container">
        <div class="row" id="fornecedorCards">
            <!-- Cards de fornecedores serão adicionados aqui -->
            <div class="supplier-list">
                <% fornecedores.forEach((fornecedor) => { %>
                    <div class="supplier-item">
                        <div class="supplier-info" data-cnpj="<%= fornecedor.cnpj %>">
                            <div class="card-body">
                                <h3 class="card-title"><%= fornecedor.nome %></h3>
                                <p class="card-text">CNPJ: <%= fornecedor.cnpj %></p>
                                <p class="card-text">Email: <%= fornecedor.email %></p>
                                <p class="card-text">Telefone: <%= fornecedor.telefone %></p>
                                <!-- Ícone de editar com o CNPJ no atributo data-cnpj -->
                                <div class="button-container">
                                    <button class="btn-editar" alt="Editar" class="editar-button" data-bs-toggle="modal" data-bs-target="#editarPerfilModal-<%= fornecedor.cnpj %>">Editar</button>
                                    <form action="/excluirFornecedor" method="post" id="deleteClientForm">
                                        <input type="hidden" name="cnpj_fornecedor" value="<%= fornecedor.cnpj %>">
                                        <button class="delete-client-button" type="submit">Excluir Fornecedor</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Modal de Editar Perfil -->

                    <div class="modal fade" id="editarPerfilModal-<%= fornecedor.cnpj %>" tabindex="-1" aria-labelledby="editarPerfilModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editarPerfilModalLabel">Editar Fornecedor</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Formulário para editar o fornecedor -->
                                    <form action="/editarFornecedor" method="post" id="editFornecedorForm">
                                        <input type="hidden" name="cnpj" value="<%= fornecedor.cnpj %>">
                                        <div class="mb-3">
                                            <label for="nome_fornecedor" class="form-label">Nome:</label>
                                            <input type="text" class="form-control" id="nome_fornecedor" name="nome_fornecedor" value="<%= fornecedor.nome %>">
                                        </div>
                                        <div class="mb-3">
                                            <label for="cnpj_fornecedor" class="form-label">CNPJ:</label>
                                            <input type="text" class="form-control" id="cnpj_fornecedor" name="cnpj_fornecedor" value="<%= fornecedor.cnpj %>" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label for="email_fornecedor" class="form-label">Email:</label>
                                            <input type="email" class="form-control" id="email_fornecedor" name="email_fornecedor" value="<%= fornecedor.email %>">
                                        </div>
                                        <div class="mb-3">
                                            <label for="telefone_fornecedor" class="form-label">Telefone:</label>
                                            <input type="text" class="form-control" id="telefone_fornecedor" name="telefone_fornecedor" value="<%= fornecedor.telefone %>" maxlength="13" pattern="\d{13}"  title="Digite exatamente 13 dígitos numéricos">
                                        </div>
                                        <div class="mb-3">
                                            <label for="endereco_fornecedor" class="form-label">Endereço:</label>
                                            <input type="text" class="form-control" id="endereco_fornecedor" name="endereco_fornecedor" value="<%= fornecedor.endereco %>">
                                        </div>
                                        <div class="mb-3">
                                            <label for="id_oficina_fornecedor" class="form-label">Número da Oficina:</label>
                                            <input type="text" class="form-control" id="id_oficina" name="id_oficina" value="<%= fornecedor.idoficina %>">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="supplier-button2" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="button">Salvar Alterações</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </main>


    <!-- Modal para cadastrar um novo funcionário -->
    <div class="modal fade" id="newClientModal" tabindex="-1" aria-labelledby="newClientModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newClientModalLabel">Cadastrar Novo Funcionário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Preencha os campos abaixo para adicionar um novo funcionário:</p>
                    <form action="/adicionarFornecedor" method="post" id="addFornecedorForm">
                    <div class="mb-3">
                        <label for="nome_fornecedor" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="nome"  name="nome_fornecedor" required>
                    </div>

                    <div class="mb-3">
                        <label for="cnpj-editar" class="form-label">CNPJ:</label>
                        <input type="text" class="form-control" id="cnpj_fornecedor" name="cnpj_fornecedor" required>
                    </div>

                    <div class="mb-3">
                        <label for="email_fornecedor" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email_fornecedor" required>
                    </div>

                    <div class="mb-3">
                        <label for="telefone_fornecedor" class="form-label">Telefone:</label>
                        <input type="text" class="form-control" id="telefone" maxlength="13" pattern="\d{13}" name="telefone_fornecedor" 
                            title="Digite exatamente 13 dígitos numéricos" required>
                    </div>
                    <div class="mb-3">
                        <label for="endereco_fornecedor" class="form-label">Endereço:</label>
                        <input type="text" class="form-control" id="endereco"  name="endereco_fornecedor"  required>
                    </div>
                    <div class="mb-3">
                        <label for="id_oficina_fornecedor" class="form-label">Número da Oficina:</label>
                        <input type="text" class="form-control" id="id_oficina" name="id_oficina"  required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="supplier-button2" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="button">Finalizar</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
    
     

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('searchInput');
            const funcionarioCards = document.querySelectorAll('#funcionarioCards .card');

            searchInput.addEventListener('input', function() {
                const searchTerm = searchInput.value.toLowerCase();

                funcionarioCards.forEach(card => {
                    const title = card.querySelector('.card-title').textContent.toLowerCase();
                    const email = card.querySelectorAll('.card-text')[0].textContent.toLowerCase();
                    const phone = card.querySelectorAll('.card-text')[1].textContent.toLowerCase();
                    const cpf_mecanico = card.getAttribute('data-cpf').toLowerCase();

                    if (title.includes(searchTerm) || email.includes(searchTerm) || phone.includes(searchTerm) || cpf.includes(searchTerm)) {
                        card.parentElement.style.display = ''; // Mantenha o cartão visível
                    } else {
                        card.parentElement.style.display = 'none'; // Oculte o cartão
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
    // Captura o evento de abrir o modal
    var editarPerfilModal = document.getElementById('editarPerfilModal');
    editarPerfilModal.addEventListener('show.bs.modal', function(event) {
        // Botão que acionou o modal
        var button = event.relatedTarget;
        // Obtém o CNPJ do atributo data-cnpj
        var cnpj = button.getAttribute('data-cnpj');

        // Requisição AJAX para obter os dados do fornecedor
        fetch(`/getFornecedor/${cnpj}`)
            .then(response => response.json())
            .then(data => {
                // Preenche os campos do modal com os dados recebidos
                document.getElementById('nome_fornecedor').value = data.nome;
                document.getElementById('cnpj_fornecedor').value = data.cnpj;
                document.getElementById('email_fornecedor').value = data.email;
                document.getElementById('telefone_fornecedor').value = data.telefone;
                document.getElementById('endereco_fornecedor').value = data.endereco;
                document.getElementById('id_oficina_fornecedor').value = data.idoficina;
            })
            .catch(error => {
                console.error('Erro ao buscar fornecedor:', error);
            });
    });
});

 // Função para confirmar e excluir o fornecedor
 function openDeleteModal() {
                document.getElementById('deleteModal').style.display = 'block';
            }

            function closeDeleteModal() {
                document.getElementById('deleteModal').style.display = 'none';
            }

            function confirmDelete() {
                // Lógica para exclusão do cliente
                closeDeleteModal();
                alert('Cliente excluído com sucesso!');
            };
</script>

</body>
</html>