<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <title>Manutenções em andamento</title>
  
</head>

<body>
    
    <header>
        <img src="img/logo.png" alt="Logo">
    </header>

    <div class="title">
        Manutenções em andamento
    </div>

    <div class="search-bar">
        <button class="back-button">
            <a href="/home_mecanico">
                <img src="img/seta.png" alt="Voltar">
            </a>
        </button>
        <div class="search-input-container">
            <input type="text" placeholder="Buscar funcionário">
            <img src="img/lupa.png" alt="Pesquisar">
        </div>
    </div>
    
    
    <div class="container">
        <% veiculos.forEach(veiculo => { %>
            <div class="card">
              <div class="card-body">
                <h3 class="card-title text-warning"><b>Em Andamento</b></h3>
                <h5 class="h5"><b>Modelo:</b> <%= veiculo.modelo %></h5>
                <h5 class="h5"><b>Marca:</b> <%= veiculo.marca %></h5>
                <h5 class="h5"><b>Placa:</b> <%= veiculo.placa %></h5>
                <h5 class="h5"><b>Cor:</b> <%= veiculo.cor %></h5>
                <a href="/reparos_veiculo_mecanico/<%= veiculo.id_orcamento %>">Realizar Manutenção</a>

             
              
              </div>
            </div>
          <% }); %>
    </div>
</body>

<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'Arvo', serif;
    }

    .title {
        text-align: center;
        font-size: 24px;
        margin: 20px auto;
        color: #333;
        width: 80%;
        display: flex;
        justify-content: center;
    }

    header {
        background-color: #000000;
        color: white;
        padding: 8px;
        text-align: center;
    }

    header img {
        width: 200px;
        height: auto;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .search-bar .back-button {
        margin-right: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .search-bar .back-button img {
        width: 24px;
        height: 24px;
    }

    .search-bar .search-input-container {
        position: relative;
        width: 50%;
    }

    .search-bar input[type="text"] {
        width: 100%;
        padding: 10px 10px 10px 20px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
    }

    .search-bar .search-input-container img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    .card {
        max-width: 18rem;
        margin: 10px;
        border: 3px solid orange; /* Cor da borda do card */
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .text-warning {
        color: orange; /* Texto do card em laranja */
    }
</style>

</html>
