<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png"  href="/img/icone_logo3.png">
    <title>Manutenções em andamento</title>
</head>

<body>

    <header>
        <img src="img/logo.png" alt="Logo">
    </header>

    <div class="title">
        Manutenções em andamento
    </div>

    <div class="search-bar">
        <button class="back-button">
            <a href="/home_mecanico">
                <img src="img/seta.png" alt="Voltar">
            </a>
        </button>
        <div class="search-input-container">
            <input type="text" placeholder="Buscar funcionário">
            <img src="img/lupa.png" alt="Pesquisar">
        </div>
    </div>

    <main class="container">
        <div class="row">
            <% veiculos.forEach(veiculo => { %>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title "><b>Em Manutenção</b></h5>
                            <p class="card-text"><b>Modelo:</b> <%= veiculo.modelo %></p>
                            <p class="card-text"><b>Marca:</b> <%= veiculo.marca %></p>
                            <p class="card-text"><b>Placa:</b> <%= veiculo.placa %></p>
                            <p class="card-text"><b>Cor:</b> <%= veiculo.cor %></p>
                            <a href="/reparos_veiculo_mecanico/<%= veiculo.id_orcamento %>">
                                <button class="btn btn-primary">Realizar Manutenção</button>
                            </a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </main>
</body>

<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'Arvo', serif;
    }

    .title {
        text-align: center;
        font-size: 24px;
        margin: 20px auto;
        color: #333;
        width: 80%;
        display: flex;
        justify-content: center;
    }

    header {
        background-color: #000000;
        color: white;
        padding: 8px;
        text-align: center;
    }

    header img {
        width: 200px;
        height: auto;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .search-bar .back-button {
        margin-right: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .search-bar .back-button img {
        width: 24px;
        height: 24px;
    }

    .search-bar .search-input-container {
        position: relative;
        width: 50%;
    }

    .search-bar input[type="text"] {
        width: 100%;
        padding: 10px 10px 10px 20px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
    }

    .search-bar .search-input-container img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .container {
        padding: 20px;
    }

    .card {
        background-color: #ffffff;
        
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-bottom: 20px;
        width: 100%; /* Ajuste para ocupar toda a largura disponível */
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 15px;
        color: #ffa600;
    }

    .card-text {
        font-size: 1rem;
        margin-bottom: 10px;
        color: #000000;
    }

    .card .btn-primary {
        background-color: #ffa600;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.3s;
    }

    .card .btn-primary:hover {
        background-color: #ffa600 ;
        transform: translateY(-2px);
    }

</style>

</html>