<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="adm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/icone_logo3.png">
    <title>Orçamentos em aberto</title>
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="Logo">
    </header>

    <div class="search-bar">
        <button class="back-button">
            <a href="/home_adm"><img src="/img/seta.png" alt="Voltar"></a>
        </button>
        <div class="search-input-container">
            <input type="text" placeholder="Buscar Inspeção pendente">
            <img src="/img/lupa.png" alt="Pesquisar">
        </div>
    </div>

    <div class="main-content">
        <div class="mechanic-box">
            <h2>Dados do Mecânico:</h2>
            <div class="mechanic-info">
                <p><strong>Nome:</strong> <%= mecanico.nome %></p>
                <p><strong>Número:</strong> <%= mecanico.telefone %></p>
                <p><strong>E-mail:</strong> <%= mecanico.email %></p>
                <p><strong>CPF:</strong> <%= mecanico.cpf_mecanico %></p>
            </div>
        </div>

        <div class="cards-section">
            <h2>Realizar orçamento:</h2>
            <div class="cards-container" id="cardsContainer">
                <% veiculos.forEach((veiculo) => { %>
                    <a href="/definir_preco_orcamento/<%= veiculo.id_inspecao_manutencao %>/<%= veiculo.id_inspecao_entrada %>" class="card-link">
                        <div class="card" data-modelo="<%= veiculo.modelo %>" data-placa="<%= veiculo.placa %>">
                            <h3><%= veiculo.marca %> <%= veiculo.modelo %></h3>
                            <h1 class="placa-veiculo"><%= veiculo.placa %></h1>
                        </div>
                    </a>
                <% }) %>
            </div>
        </div>
    </div>

    <script>
        const searchInput = document.querySelector('.search-input-container input');
        const cardsContainer = document.getElementById('cardsContainer');

        searchInput.addEventListener('input', function () {
            const searchTerm = searchInput.value.toLowerCase(); // Obtém o termo de busca em minúsculas

            // Seleciona todos os cards de veículos
            const cards = cardsContainer.getElementsByClassName('card');

            // Loop para cada card
            Array.from(cards).forEach(card => {
                const modelo = card.getAttribute('data-modelo').toLowerCase();
                const placa = card.getAttribute('data-placa').toLowerCase();

                // Se o modelo ou a placa do veículo contiver o termo de busca, mostra o card, senão oculta
                if (modelo.includes(searchTerm) || placa.includes(searchTerm)) {
                    card.parentElement.style.display = '';  // Exibe o card
                } else {
                    card.parentElement.style.display = 'none';  // Oculta o card
                }
            });
        });
    </script>
</body>
<style>
  /* Reset Básico */
* {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}

/* Título */
.title {
    text-align: center;
    font-size: 24px;
    margin: 20px auto;
    color: #333;
    width: 80%;
    display: flex;
    justify-content: center;
}

/* Cabeçalho */
header {
    background-color: #860606;
    color: white;
    padding: 8px;
    text-align: center;
}

header img {
    width: 200px;
    height: auto;
}

/* Barra de Pesquisa */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-bar .back-button {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-bar .back-button img {
    width: 24px;
    height: 24px;
}

.search-bar .search-input-container {
    position: relative;
    width: 50%;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.search-bar .search-input-container img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Botão de Novo Carro */
.new-car-button,
.button {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #0D6EFD;
    color: white;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.new-car-button:hover {
    background-color: #0726af;
    transform: translateY(-2px);
}

/* Conteúdo Principal */
.main-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.mechanic-box {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    box-sizing: border-box;
    overflow: auto;
    margin-left: 400px; /* Ajuste o valor conforme necessário */
}

/* Seção de Cards */
.cards-section {
    flex: 2;
    padding: 20px;
}

.cards-section h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Seção de Cards */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 10px;
    box-sizing: border-box;
    justify-content: center; /* Centraliza os cards */
}


/* Card */
.card {
    background-color: #ffffff;
    border: 5px solid #000000;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 130px;
    width: 100%;
    max-width: 240px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    cursor: pointer;
}

/* Placa do Veículo */
.card h1 {
    margin: 20px;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: text-decoration-color 0.3s ease, color 0.3s ease;
}

.card:hover h1 {
    text-decoration: underline;
    text-decoration-color: black;
}

.placa-veiculo {
    letter-spacing: 2px;
    font-size: 20px;
}

.card h3 {
    margin: 0;
    font-size: 20px;
    color: white;
    background-color: #003688;
    padding: 5px;
    border-radius: 3%;
}

/* Botão de Excluir Cliente */
.delete-client-button {
    background-color: #b80303;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.delete-client-button:hover {
    background-color: #8a0202;
}

/* Modais */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.562);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
    color: #9e0505;
    text-align: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-body input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.modal-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal-footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.modal-footer .btn-cancel {
    background-color: #6c757d;
    color: white;
}

.modal-footer .btn-cancel:hover {
    background-color: #3c4146;
}

.modal-footer .btn-delete {
    background-color: #dc3545;
    color: white;
}

.modal-footer .btn-delete:hover {
    background-color: #c82333;
}

.modal-footer .btn-primary {
    background-color: #138132;
    color: white;
}

.modal-footer .btn-primary:hover {
    background-color: #0b4b1d;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
    
    .mechanic-box {
        margin-left: 0;
        max-width: 100%;
    }
    
    .cards-container {
        grid-template-columns: 1fr; /* Cards em uma única coluna */
    }
    
    .card h1 {
        font-size: 28px; /* Reduz a fonte em telas menores */
    }
}

@media (max-width: 900px) {
    .main-content {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .mechanic-box, .cards-section {
        max-width: 50%;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .main-content {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .mechanic-box, .cards-section {
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
    }

    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    .card h1 {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .cards-container {
        grid-template-columns: 1fr;
        justify-items: center; /* Centraliza os itens individualmente */
    }

    .card {
        max-width: 100%; /* Faz com que cada card ocupe a largura total no mobile */
    }
}


    </style>

    </html>