<!DOCTYPE html>
<html lang="pt-BR">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="adm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <title>Inspeção</title>
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="Logo Autofix">
    </header>


    <div class="container">
        <h3 class="title"><%=marca %> <%= modelo %> <%= ano %></h3>
        <h5 class="title"><%=nome_cliente %></h5>

        
        <form action="/salvar-servicos" method="POST">
            <div class="inputs" id="inputs">
              <div class="form-group mt-4 d-flex align-items-center">
                <input type="text" name="nome_servico[]" class="form-control flex-grow-1" placeholder="Digite um novo item...">
                <button type="button" class="remove-item-button" onclick="removeInput(this)">
                  <span aria-hidden="true">x</span>
                </button>
              </div>
            </div>
            
            <div class="text-center mt-4">
              <button type="button" id="addInput" class="btn btn-primary">+</button>
              <button type="submit" class="btn btn-success">Enviar</button>
            </div>
          </form>
    <!-- Modal de confirmação -->
<!-- Modal de confirmação -->
<div class="modal-overlay" id="modalOverlay">
    <div class="modal-content">
        <h4>Deseja sair sem salvar?</h4>
        
        <!-- Novo contêiner para centralizar os botões -->

            <button class="btn-cancel" id="cancelExit">Cancelar</button>
            <form action="/cancelar_inspecao_manutencao/<%= placa %>" method="POST">
                <button class="btn-exit" id="confirmExit">Sair mesmo assim</button>
            </form>
    </div>
</div>




<script>
    document.getElementById('addInput').addEventListener('click', function() {
      const newInput = document.createElement('div');
      newInput.classList.add('form-group', 'mt-4', 'd-flex', 'align-items-center');
      newInput.innerHTML = `
        <input type="text" name="nome_servico[]" class="form-control flex-grow-1" placeholder="Digite um novo item...">
        <button type="button" class="remove-item-button" onclick="removeInput(this)">
          <span aria-hidden="true">x</span>
        </button>
      `;
      document.getElementById('inputs').appendChild(newInput);
    });
  
    function removeInput(button) {
      button.parentElement.remove();
    }
 

        // Abrir o modal ao clicar na seta de voltar
        document.getElementById('backButton').addEventListener('click', function(event) {
            event.preventDefault(); // Impede a navegação imediata
            document.getElementById('modalOverlay').style.display = 'flex';
        });

        // Fechar o modal e sair da página
        document.getElementById('confirmExit').addEventListener('click', function() {
            window.location.href = '/inspecao_manutencao_pendente'; // Redireciona para a página de manutenção pendente
        });

        // Fechar o modal e cancelar a ação
        document.getElementById('cancelExit').addEventListener('click', function() {
            document.getElementById('modalOverlay').style.display = 'none';
        });
    </script>
</body>
<style>
  body {
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: normal;
}

header {
    background-color: #000000;
    color: white;
    padding: 8px;
    text-align: center;
    position: relative;
}

.title {
    text-align: center;
    font-size: 26px;
    margin: 10px auto;
    color: #333;
    width: 100%;
    
    justify-content: center; /* Centraliza o título */
    position: relative; /* Adiciona posição relativa para o título */
}

.whatsapp-icon {
    position: absolute;
    right: 30px; /* Ajuste para mover o ícone mais para a direita */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
    width: 46px; /* Ajuste o tamanho do ícone */
    height: 46px; /* Ajuste o tamanho do ícone */
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.container {
    max-width: 900px;
    padding: 30px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header img {
    width: 200px;
    height: auto;
}

.welcome-message {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.text-center {
    margin-top: 20px;
}

.inputs {
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    align-items: center;
}

.btn-success {
    margin-top: 20px;
    width: 100px;
    height: 40px; /* Ajuste a altura do botão */
    background-color: #138132;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer; /* Adiciona um cursor para indicar que é clicável */
}

.btn-danger {
    margin-top: 20px;
    width: 100px;
    height: 40px; /* Ajuste a altura do botão */
    background-color: #cc0606;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer; /* Adiciona um cursor para indicar que é clicável */
}


.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para o modal */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Adiciona um z-index alto para o modal ficar por cima de outros elementos */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 400px; /* Define a largura do modal */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Centraliza e define os botões para que tenham o mesmo tamanho */
.modal-content button {
    width: 100%; /* Define a largura dos botões para ocupar 100% do container */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px; /* Espaçamento entre os botões */
}

/* Estilo do botão "Cancelar" */
.btn-cancel {
    background-color: #138132; /* Cor verde */
    color: white;
}

/* Estilo do botão "Sair mesmo assim" */
.btn-exit {
    background-color: #97211d;
    color: white;
}


/* Estilos para o botão "Excluir" */
/* Estilos para o botão "Excluir" */
/* Estilos para o botão "Excluir" */
.remove-item-button {
    margin-left: 5px; /* Ajuste o valor conforme necessário */
    border: none;
    background-color: #cc0606; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    cursor: pointer;
    display: flex; /* Centraliza o "X" dentro do botão */
    justify-content: center;
    align-items: center;
}
</style>
</html>