<!DOCTYPE html>
    <html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="adm.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="veiculos_mecanico.css">
        <title>Veículos</title>
    </head>

    <body>
        <header>
            <img src="/img/logo.png" alt="Logo">
        </header>

        <div class="search-bar">
            <button class="back-button">
                <a href="/clientes_mecanico "><img src="/img/seta.png" alt="Voltar"></a>
            </button>
            <div class="search-input-container">
                <input type="text" id="searchInput" placeholder="Buscar Veículo" onkeyup="searchVehicles()">
                <img src="/img/lupa.png" alt="Pesquisar">
            </div>
            <button class="new-car-button" id="openModalBtn" onclick="openAddCarModal()">Adicionar Veículo</button>
        </div>

        <div class="main-content">
            <div class="mechanic-box">
                <h2>Dados do Cliente:</h2>
                <% clientes.forEach((cliente)=> { %>
                    <div class="mechanic-info">
                        <p><strong>Nome:</strong>
                            <%= cliente.nome %>
                        </p>
                        <p><strong>Número:</strong>
                            <%= cliente.telefone %>
                        </p>
                        <p><strong>E-mail:</strong>
                            <%= cliente.email %>
                        </p>
                        <p><strong>CPF:</strong>
                            <%= cliente.cpf_cliente %>
                        </p>
                        <button class="delete-client-button" onclick="openDeleteModal()">Excluir Cliente</button>
                    </div>
                    <% }) %>    
            </div>

            <div class="cards-section">
                <h2>Veículos:</h2>
                <div class="cards-container" id="cardsContainer">
                    <% veiculos.forEach((veiculo)=> { %>
                        <a href="/checklist/<%= veiculo.placa %>">
                            <div class="card">
                                <h3>
                                    <%= veiculo.marca %>
                                    <%= veiculo.modelo %>
                                </h3>
                                <h1>
                                    <%= veiculo.placa %>
                                </h1>
                            </div>
                        </a>
                    <% }) %>
                    
                    </a>
                </div>
            </div>
        </div>

        <!-- Modal de Confirmação de Exclusão -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Confirmar Exclusão</h2>
        </div>
        <div class="modal-body">
            <p>Você tem certeza que deseja excluir este cliente?</p>
        </div>
        <div class="modal-footer">
            <form action="/excluirCliente" method="post" id="deleteClientForm">
                <input type="hidden" name="cpf_cliente" value="<%= cpf_cliente %>">
                <button class="btn btn-cancel" type="button" onclick="closeDeleteModal()">Cancelar</button>
                <button class="delete-client-button" type="submit">Excluir Cliente</button>
            </form>
        </div>
    </div>
</div>

        <!-- Modal para Adicionar Veículo -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Cadastrar Veículo</h2>
                </div>
                <p>Preencha os campos abaixo de acordo com o veículo do cliente</p>

                <form action="/adicionarVeiculo" method="post" id="addCarForm">
                    <input type="hidden" name="cpf_cliente" value="<%= cpf_cliente %>">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="placa">Placa:</label>
                            <input type="text" id="placa" class="form-control"  required name="placa_veiculo">
                        </div>
                        <div class="form-group">
                            <label for="marca">Marca:</label>
                            <input type="text" id="marca" class="form-control"  required name="marca_veiculo">
                        </div>
                        <div class="form-group">
                            <label for="modelo">Modelo:</label>
                            <input type="text" id="modelo" class="form-control"  required name="modelo_veiculo">
                        </div>
                       
                        <div class="form-group">
                            <label for="cor">Cor:</label>
                            <input type="text" id="cor" class="form-control"  required name="cor_veiculo">
                        </div>
                      
                        <div class="form-group">
                            <label for="ano">Ano:</label>
                            <input type="number" id="ano" class="form-control"  required name="ano_veiculo">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel" onclick="closeAddCarModal()">Cancelar</button>
                        <button id="submitCarBtn" class="btn btn-primary" type="submit">Finalizar</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            function openDeleteModal() {
                document.getElementById('deleteModal').style.display = 'block';
            }

            function closeDeleteModal() {
                document.getElementById('deleteModal').style.display = 'none';
            }

            function confirmDelete() {
                // Lógica para exclusão do cliente
                closeDeleteModal();
                alert('Cliente excluído com sucesso!');
            }

            function openAddCarModal() {
                document.getElementById('myModal').style.display = 'block';
            }

            function closeAddCarModal() {
                document.getElementById('myModal').style.display = 'none';
            }


            function closeAddCarModal() {
    document.getElementById('myModal').style.display = 'none';
}

            function searchVehicles() {
                const searchValue = document.getElementById('searchInput').value.toLowerCase();
                const cards = document.querySelectorAll('.card');
                cards.forEach(card => {
                    const vehicleInfo = card.innerText.toLowerCase();
                    if (vehicleInfo.includes(searchValue)) {
                        card.style.display = '';
                    } else {
                        card.style.display = 'none';
                    }
                });
            }
        </script>
       
    </body>
    <style>
    /* Reset Básico */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Arvo', serif;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #000000;
        color: white;
        padding: 8px;
        text-align: center;
        position: relative;
    }

    header img {
        width: 200px;
        height: auto;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0 25px;
        flex-direction: row;
    }

    .search-bar .back-button {
        margin-right: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .search-bar .back-button img {
        width: 24px;
        height: 24px;
    }

    .search-bar .search-input-container {
        position: relative;
        width: 50%;
        
    }

    .search-bar input[type="text"] {
        width: 100%;
        padding: 10px 10px 10px 20px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
    }

    .search-bar .search-input-container img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .search-bar .new-car-button {
        margin-left: 20px;
        /* Ajuste o valor conforme necessário */
    }

    .new-car-button {
        display: inline-block;
        padding: 10px 10px;
        border-radius: 15px;
        background-color: #0D6EFD;
        color: white;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s, transform 0.3s;
    }
    .new-car-button:hover {
        background-color: #0726af;
        transform: translateY(-2px);
    }

    .new-car-button,
    .button {
        display: inline-block;
        padding: 10px 10px;
        border-radius: 15px;
        background-color: #0D6EFD;
        color: white;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s, transform 0.3s;
    }

    .new-car-button, .button {
            padding: 10px 20px;
            background-color: #0D6EFD;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
        }

    /* Main Content */
    .main-content {
        display: flex;
        flex-direction: row;
        gap: 200px;
        padding: 20px;
    }

    .mechanic-box {
        flex: 1;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 2px solid #ccc;
        box-sizing: border-box;
        overflow: auto;
        margin-left: 400px; /* Ajuste o valor conforme necessário */
    }


    /* Cards Section */
    .cards-section {
        flex: 2;
        padding: 20px;
    }

    .cards-section h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 10px;
        box-sizing: border-box;
    }
    /* Card */.card {
    background-color: #ffffff;
    border: 5px solid #000000;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 130px;
    width: 100%;
    max-width: 240px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    cursor: pointer; /* Indica que é clicável */
}

/* Placa do veículo */
.card h1 {
    margin: 20px;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-decoration: none; /* Sem sublinhado inicial */
    text-decoration-color: transparent; /* Cor do sublinhado invisível inicialmente */
    transition: text-decoration-color 0.3s ease, color 0.3s ease; /* Transição suave para cor e sublinhado */
}

/* Estilo ao passar o mouse sobre o card */
.card:hover h1 {
    text-decoration: underline; /* Define o sublinhado */
    text-decoration-color: black; /* Cor do sublinhado */
}



    .card h3 {
        margin: 0;
        font-size: 20px;
        color: white;
        background-color: #003688;
        padding: 5px;
        border-radius: 3%;
    }

    .card h1 {
        margin: 20px;
        font-size: 35px;
        font-weight: bold;
        color: black;
    }

    /* Delete Button */
    .delete-client-button {
        background-color: #b80303;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        margin-top: 20px;
    }

    .delete-client-button:hover {
        background-color: #8a0202;
    }

    /* Modals */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fff;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    /* Modal Header */
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .modal-header h2 {
        margin: 0;
        color: #9e0505;
        text-align: center;
    }

    /* Modal Body */
    .modal-body {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .modal-body input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
    }

    .modal-body input:focus {
        outline: none;
        border-color: #003688;
    }

    /* Modal Footer */
    .modal-footer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .modal-footer button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        margin-left: 10px;
    }

    .modal-footer .btn-cancel {
        background-color: #6c757d;
        color: white;
    }

    .modal-footer .btn-cancel:hover {
        background-color: #3c4146;
    }

    .modal-footer .btn-delete {
        background-color: #dc3545;
        color: white;
    }

    .modal-footer .btn-delete:hover {
        background-color: #c82333;
    }

    .modal-footer .btn-primary {
        background-color: #138132;
        color: white;
    }

    .modal-footer .btn-primary:hover {
        background-color: #0b4b1d;
    }

    /* Media Queries */
    @media (max-width: 768px) {
        .main-content {
            flex-direction: column;
        }

        .mechanic-box {
            margin-left: 0;
            max-width: 100%;
        }

        .new-car-button,
    .button {
    max-width: 150px; /* Ajuste conforme necessário */
    padding: 10px 10px;
    font-size: 14px;
    white-space: nowrap;
}

.search-bar .back-button {
        margin-right: 1rem;
        /* Ajuste o valor conforme necessário */
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

    </style>

    </html>